.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  
  form * {
    font-size: 28px;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    font-family: 'montserrat';
  }
  h2 {
    font-size: 32px;
    text-align: center;
    font-family: 'montserrat';
  }
  h3 {
    font-size: 32px;
    text-align: center;
    font-family: 'montserrat';
  }
  p {
    font-size: 16px;
    text-align: center;
    font-family: 'montserrat';
  }
  input[type="file"]::file-selector-button {

    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    transition: 1s;
    text-align: center;
  }
  
  .container{  
    text-align: center;  
    padding-top: 100px; 
    font-size: 10; 
    }
button
{
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  transition: 1s;
  text-align: center; 
}
.upload {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 
 }  
.container2 {
  display: grid;
  padding: 5rem;
  text-align: center; 
  font-family: 'montserrat'

}